{% extends "partials/base.html" %}
{% load static %}
{% block title %} Add Task | TaskHero {% endblock title %}

{% block extrahead %}
  <link rel="stylesheet" href="{% static 'css/add-task.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
{% endblock extrahead %}

{% block header %}
{% endblock header %}

{% block content %}
    <nav>            
    {% include "partials/header.html" %}
    </nav>
  <section>
    <div class="add-task-container">
      <form action="{% url 'TaskHero:add_task' %}" method="POST" class="add-task-form">
        {% csrf_token %}
        {{ task_form.as_div }}
        <button type="submit" class="submit-btn">Add Task</button>
      </form>
    </div>
  </section>

  <script>
    const hamburger = document.querySelector(".hamburger");
    const navLeft = document.querySelector(".nav-left");

    hamburger.addEventListener("click", () => {
      navLeft.classList.toggle("active");
    });
  </script>
{% endblock content %}
