<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Document{% endblock title %}</title>
    {% block extrahead %}
        <link rel="stylesheet" href="">
    {% endblock extrahead %}
</head>
<body>
<header>
</header>
    {% if messages %}
        <div>
            {% for message in messages %}
                <p class='alert-{{ message.tags }}'>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
{% block content %}
{% endblock content %}
</body>
</html>